.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    min-height: 40vh;
    border-radius: 5px;
    padding: 25px 25px 50px 25px;
}

.title-area {
    margin-bottom: 40px;

    .title {
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.input-group {
    margin-bottom: 20px;

    .input-box {
        width: 340px;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        outline: 0;
        border: 1px solid var(--low-gray-color);
        padding: 0 12px;
        transition: border-color linear .15s;
        font-size: 1.5rem;

        &:focus {
            border-color: var(--low-active-color);
        }

        &::placeholder {
            color: var(--gray-color);
        }

        &.error {
            border-color: var(--low-red-color);
        }
    }
}

.controllers {
    .submit-button {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--white-color);
        background-color: var(--low-active-color);
        outline: 0;
        border: 0;
        padding: 8px 0;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .sub-controllers {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .sub-link {
            font-size: 1.4rem;
            color: var(--low-active-color);
        }
    }
}

.error-message {
    padding: 2px 16px 0;

    .title {
        font-size: 1.3rem;
        color: var(--low-red-color);
    }
}