.wrapper {
    display: block;
    padding: 16px 0;

    .title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.6rem;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .meta {
        .author {
            color: rgba(0, 0, 0, 0.5);
            font-size: 1.4rem;
            line-height: 1.5rem;

            &:hover {
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    & + .wrapper {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}