@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   // Width, Height
   --default-content-wide: 1200px;
   --header-height: 60px;
   --search-width: 410px;
   --search-height: 40px;
   --account-menu-width: 220px;
   --notify-menu-width: 320px;
   --search-button-width: 42px;
   --sidebar-width: 280px;
   --footer-height: 300px;
   --profile-sidebar-width: 300px;

   // Colors
   --white-color: #fff;
   --text-color: #1b1b1b;
   --active-color: #0c4a97;
   --gray-color: #9b9b9b;
   --light-gray-color: #909399;
   --low-gray-color: #e5e5e5;
   --low-active-color: #0c4a97b5;
   --light-blue-color: #ecf5ff;
   --med-gray-color: #cbc6c1c4;
   --red-color: #d53636ff;
   --low-red-color: #f84444b5;
   --red-background-color: rgba(250, 149, 149, 0.71);
   --light-text-color: #303133;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Nunito', sans-serif;
   font-size: 1.6rem;
   line-height: 1.6;
   text-rendering: optimizeSpeed;
}

a {
   text-decoration: none;
   color: var(--text-color);
}

ul {
   padding: 0;
   display: block;
   list-style-type: none;
}

::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-button {
   width: 0;
   height: 0;
}

::-webkit-scrollbar-corner {
   background: 0 0;
}

::-webkit-scrollbar-thumb {
   background: var(--gray-color);
   border: 0 transparent;
   border-radius: 31px;
}

::-webkit-scrollbar-track {
   background: #eff1f5;
   border: 0 transparent;
   border-radius: 50px;
}
