.overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.2);
}

.wrapper {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: -999;
   background-color: var(--white-color);
   width: 50vw;
   min-height: 320px;
}

.container {
   position: relative;
   padding: 20px;

   .title {
      font-weight: 600;
      color: var(--light-text-color);
      margin-bottom: 20px;
   }

   .input-area {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
         display: none;
      }

      .input-overlay {
         width: 260px;
         height: 260px;
         background-color: var(--low-gray-color);
         position: relative;
         cursor: pointer;
         border-radius: 4px;
         border: 1px solid var(--gray-color);

         p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            font-weight: bold;
            white-space: nowrap;
            color: var(--gray-color);
         }
      }
   }

   .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 4px;
      transition: color linear 0.1s;

      &:hover {
         color: var(--red-color);
      }
   }

   .controllers {
      margin: 30px 0 10px;
      text-align: center;
   }
}
